@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.bonus_container {
  background: #2a4468;
  padding: 66px 0;
  .bonus_wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .bonus_big_text {
      font-size: 48px;
      font-weight: 500;
      color: #ffffff;
      font-family: "Montserrat";
    }
    .bonus_details {
      font-size: 20px;
      font-weight: 400;
      color: #ffffff;
      width: 49%;
      font-family: "Montserrat";
      margin-bottom: 40px;
    }
    .bonus_btn {
      border-color: #ffe3a9;
      border-radius: 0px;
    }
  }
}
