.head_class {
  color: #2a4468;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 500;
}

.username {
  color: #2a4468;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 500;
}

.normal_class {
  color: #2a4468;
  font-size: 24px;
  font-family: Montserrat;
}

.edit {
  color: #2a4468;
  font-size: 24px;
  font-family: Alegreya;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  background: #2a4468;
  box-shadow: 4px 6px 60px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 500;
  border: none;
  outline: none;
  padding: 20px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 200px;
  cursor: pointer;
}

.consents {
  color: #2a4468;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 500;
}

.consents_checkbox {
  color: rgba(42, 68, 104, 0.7);
  font-size: 18px;
  font-family: Montserrat;
}
