.tabsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .tabItem {
    font-size: 20px;
    color: #2a4468;
    font-family: "Montserrat";
    font-weight: 400;
  }
}

:global(.ant-tabs-nav) {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  width: 93vw;
  // color: red;
}

:global(.ant-tabs-nav-list) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: rgba(33, 68, 104, 0.5);
  :hover {
    color: #2a4468;
  }
}

:global(.ant-tabs-ink-bar.ant-tabs-ink-bar-animated) {
  display: none;
}
